[2014-01-27 13:36] JMurk opened #1 "FSE Application - FSE Details - Inspection Frequency"
Issue:  On initial load of the screen (before edits are made) the label still reads "Inspection Frequency(days)".  It should read: "Inspection Frequency (months)."  Also, the slider should range all the way to 36.

![image](https://f.cloud.github.com/assets/5805454/2009046/e47563e2-8757-11e3-93d8-e560ce29f523.png)

Resolution: Please update the label and make the slider max-out at 36.

[2014-01-27 13:45] JMurk opened #2 "FSE Application - Map - Duplicate Labels"
Issue:  All points are being labeled twice (once red, once green).

Resolution:  Check definition queries to make sure they are still valid.

[2014-01-27 13:49] JMurk opened #3 "FSE Application - FSE Details - Update Confirmation Window"
Issue:  On the successful update confirmation window, the message reads "Data Updated successfully."  The S in successfully should be capitalized.

![image](https://f.cloud.github.com/assets/5805454/2009158/c82a851c-8759-11e3-8bbf-0493bde97a65.png)

Resolution:  Please update the message so that it reads: "Data Updated Successfully"

[2014-01-27 13:56] JMurk opened #4 "FSE Application - New FSE - Duplicate FSE Numbers (PCID)"
Issue:  The system is generating duplicate FSE Numbers (PCIDs) when two users create FSEs at the same time.  Specifically the occurs when User A adds a new FSE and then User B creates a new FSE before User A has clicked save.

Resolution:  When the web service returns the next highest PCID, the system should save the record to the database.  There are two ways to do this:
1. Save the record immedi

[2014-01-27 14:02] JMurk opened #5 "FSE Application - NOV - Add New NOV Heading Change"
Issue:  PC requested that the heading on the Add New NOV page be changed to "Add New Enforcement Action"

![image](https://f.cloud.github.com/assets/5805454/2009267/9b2268c6-875b-11e3-9c40-a46f54398bb2.png)

Resolution:  Please update the heading to read "Add New Enforcement Action"

[2014-01-27 14:04] JMurk opened #6 "FSE Application - Tab Label"
Issue: The tab label is "fog."  It should read "FOG."

![image](https://f.cloud.github.com/assets/5805454/2009282/d7c132a8-875b-11e3-8df6-8645dce77586.png)

Resolution:  Please update to "FOG"

[2014-01-27 14:14] JMurk opened #7 "FSE Application - FSE Report - Yes/No For All Binary Fields"
Issue:  In the report, all binary fields are displayed as 0 or 1.  These fields should display Yes or No.

![image](https://f.cloud.github.com/assets/5805454/2009377/5e48b6b0-875d-11e3-9bed-9f7cb27969fe.png)

**Amy mentioned that this had been resolved previously, however the current version of the report at the city says otherwise.  Perhaps the latest version isn't being accessed by the app?

Res

[2014-01-27 14:18] JMurk opened #8 "FSE Application - FSE Report - Date/Time Fields - Display Date Only"
Issue;  The report displays date/time fields when only date is captured in the application, leaving time to default to 12:00:00AM.  Only date should be displayed.

![image](https://f.cloud.github.com/assets/5805454/2009407/d2f2d9f0-875d-11e3-93a3-a4fd7a2f9c61.png)

Resolution: Please remove time from the display.

[2014-01-27 14:32] JMurk opened #9 "FSE Application - FSE Report - Labels to Include Units of Measure"
Issue:  Report labels do not include units of measure.

![image](https://f.cloud.github.com/assets/5805454/2009507/36e1f7ba-875f-11e3-82fa-63f65e3eca7d.png)

Resolution: Please add the units of measure to the end of the labels in parenthesis.  Example: Depth (ft)

-Length
-Depth
-Width/Diameter
-Hydraulic Cap.
-Rated Cap.
-In Pipe Depth
-Out Pipe Depth

[2014-01-27 15:13] JMurk opened #10 "FSE Application - FSE Report - Depth Misspelled"
Issue:  Under GCD Detail, the Depth label is misspelled.

![image](https://f.cloud.github.com/assets/5805454/2009852/74b398b8-8765-11e3-8417-eae8d8df21af.png)

Resolution:  Please fix label's spelling.

[2014-01-27 15:14] JMurk opened #11 "FSE Application - FSE Report - Out Pipe Depth Label"
Issue:  Under GCD Details, the Out Pipe Depth label has a question mark.

![image](https://f.cloud.github.com/assets/5805454/2009863/b793eb4c-8765-11e3-9cba-37b287103867.png)

Resolution:  Remove the question mark from the label.

[2014-01-27 15:17] JMurk opened #12 "FSE Application - FSE Report - Cleaning Frequency"
Issue:  Under GCD Inspection Details, the Cleaning Frequency field displays the coded value.

![image](https://f.cloud.github.com/assets/5805454/2009897/18f7dc68-8766-11e3-8d52-3452444f85f5.png)

Resolution: Display the domain's description value  (Eric, is this feasible?)

[2014-01-27 15:22] JMurk opened #13 "FSE Application - FSE Report - Remove Database IDs"
Issue:  The database IDs (GCD ID, FSE INSPECTION ID, and GCD INSPECTION ID) are causing confusion among the users.  The should be removed from the report.

Resolution:  Please removed the database IDs listed above from the report.

[2014-01-27 15:34] JMurk opened #14 "FSE Application - Inspections - Inspector ID"
Issue:  Currently there are fields in the UI for Inspector ID.  Nothing is ever populated in theses, particularly because there is no such ID.

![image](https://f.cloud.github.com/assets/5805454/2010047/73dac72e-8768-11e3-9e22-e5d7ec0ec152.png)

Resolution:  Change Inspector ID to Inspector Name (will likely need to update DB schema) and auto-populate this field with the username of the logged in

[2014-01-27 15:44] JMurk opened #15 "FSE Application - Existing Delete Functions"
Issue:  When a user clicks on any of the delete functions, there is no warning message.

Resolution:  Please add a warning/confirmation message upon user click of delete.  It should read: "Are you sure you want to delete the current inspection?" Or whatever it was deleting.  It should provide options of OK and Cancel.

[2014-01-27 16:23] JMurk opened #16 "FSE Application - GCD Details - Air Vent Field"
Issue:  The Air Vent field on the GCD Details page should be a dropdown with values of Yes, No, and Unknown.

Resolution:  Remove the toggle button and replace with dropdown list.  This may require a DB schema change.

[2014-01-27 16:36] JMurk opened #17 "FSE Application - Delete FSEs"
Issue:  PC users would like the ability to delete FSE records.

Resolution:  Add a Delete function (similar in design to the existing ones) that adheres to the following rules:

-The user MUST be an admin (we will need to use the FSE_USER table for security).  Other wise the delete button should be hidden.
-The FSE may not be deleted if there are existing inspection/details associated to it.  If t

[2014-01-27 16:47] JMurk opened #18 "FSE Application - Edit FSE ID (PCID)"
Issue:  PC would like the ability to edit the PC ID (displayed in the app as FSE ID).

Resolution:  Please make this an editable field for ADMINS ONLY.

[2014-01-27 16:50] JMurk opened #19 "FSE Application - GCD Inspection Details - Last Updated Fields"
Issue:  GCD Inspections do not store the last updated user or last updated date.

Resolution:  Please add these fields for this table and page.

[2014-01-27 17:01] JMurk opened #20 "FSE Application - Settings - Add Symbology"
Issue:  PC would like to have a legend for the feature on the map.

Resolution:  Within the settings tab, add the symbol next to the layer (for FSEs at a minimum).

![image](https://f.cloud.github.com/assets/5805454/2010988/a0f08ec2-8774-11e3-86f9-f4072e9f5088.png)

[2014-01-27 17:08] JMurk opened #21 "FSE Application - Query for Inspections by Date Range"
PC would like the ability to query for the number of inspection performed within a given date range.  The user must be able to input begin and end dates and the system should produce a report/page with the total number a list of the inspections with basic info.

Brendan-  What is the best way to handle this?

[2014-01-27 17:11] JMurk opened #22 "FSE Application - Export list of NOVs"
PC would like the ability to export a list of all NOVs to an Excel spreadsheet.  Formatting was not a major concern.

Brendan, can you determine the best approach and assign accordingly?

[2014-01-27 17:14] JMurk commented on #7
Lu, please publish/link the latest version of the report to the application.

[2014-01-27 17:19] JMurk opened #23 "FSE Application - Load NOVs into Database"
Load list of NOVs provide by Pat into the FSE_COMPLICANCE table.

[2014-01-27 17:33] JMurk opened #24 "FSE Application - GCD Details -FSE Number Label"
Issue:  The FSE Number label is in all caps.

![image](https://f.cloud.github.com/assets/5805454/2011300/06ac6eb2-8779-11e3-823b-12f20e0c5469.png)

Resolution:  Please update the label to read "FSE Number"

[2014-01-27 21:34] kanglu666 commented on #7
http://dpwview.baltimorecity.gov/fsereport/fogmain.aspx?fseid=5984

[2014-01-28 13:34] JMurk commented on #7
Confirmed Complete.

[2014-01-28 13:34] #7 closed, assigned to JMurk

[2014-01-28 13:39] JMurk opened #25 "FSE Application - FSE Report - GCD Inspection Details Not Appearing"
Issue:  It appears that the report is not picking up GCD Inspections associated with selected FSE.

![image](https://f.cloud.github.com/assets/5805454/2019362/9727fa4e-8821-11e3-9258-6c70f6fa220d.png)

Resolution:  Please investigate and resolve accordingly.

[2014-01-28 14:03] JMurk opened #26 "FSE Application - Photos - Attach Photos Button"
Issue:  Since the Photos page will be used for attaching photos and viewing existing photos, I think the button should be more general, like "FSE Inspection Photos"

Question:  Wasn't there Delete buttons where the Photos buttons are now?

Resolution:  Please change the name of the button.

[2014-01-28 15:54] #10 closed, assigned to tarheelgis

[2014-01-28 15:59] tarheelgis commented on #13
What would we use as the identifier for each GCD other than GCD ID then?

[2014-01-28 16:05] #11 closed, assigned to tarheelgis

[2014-01-28 16:13] tarheelgis commented on #12
Right now we have the following values. I could just do a replace at the time of query to remove the underscores?
3_Months
6_Weekly
Daily
Monthly
Weekly

[2014-01-28 16:46] JMurk commented on #13
I'm not sure... Does it absolutely need the ID?  Could it just say some thing like "Expand to View Inspection/GCD"?  Or maybe we can use date?

[2014-01-28 16:52] tarheelgis commented on #13
I would think it just needs some sort of unique identifier. Either per GCD (GCD_ID) or desciptor ("The GCD in the back on the left"), because in the case where a users wishes to locate the history of one FSE that has multiple GCD's the user will not know which GCD they are looking at or looked at in the past. They will just have what would appear to be random GCD inspections unassociated with no o

[2014-01-28 17:05] kanglu666 commented on #4
as i remember, Amy told me that the PCIDs can be duplicate and even null. that y we use FSE ID as the primary KEY for all the relationships with other table. if that's the case, we can leave it as is.
if not, we can figure out a solution.

[2014-01-28 17:10] kanglu666 commented on #14
currently, there is no Inspector Name field in database. Inspector ID is the original design.
so we need to make the database schema change. any updates with db schema change will take some time.
and yes, we can give the current log in user name to populate the Inspector Name field.

[2014-01-28 17:22] kanglu666 commented on #17
FSE cant be delete is the original requirement.
but yes, we can apply this function. this will need some effort.
need a list of user names who are admin and have the delete FSE right.
let's talk about this function.

[2014-01-28 17:24] kanglu666 commented on #18
PC ID is FSE NUMBER in the app.

[2014-01-28 17:24] kanglu666 commented on #19
DB schema change, let's talk about this.

[2014-01-28 17:26] tarheelgis commented on #12
Went ahead and just put the replace in place and it works fine.

[2014-01-28 17:27] #12 closed, assigned to tarheelgis

[2014-01-28 17:27] kanglu666 commented on #26
there is no Delete Photos Function, just Add photos function now.
but if it's needed or required, we can figure out a solution;
i will change the button name

[2014-01-28 17:48] #25 closed, assigned to tarheelgis

[2014-01-28 18:05] kanglu666 commented on #16
yes, need DB schema change. let's talk about this.

[2014-01-28 18:36] JMurk commented on #13
I think we can leave the GCDID for that purpose.

[2014-01-29 18:37] kanglu666 commented on #1
test at KCi version
http://dashboard.kci.com/fogservicesnew/index.html

[2014-01-29 18:39] kanglu666 commented on #3
test at KCi version
http://dashboard.kci.com/fogservicesnew/index.html

[2014-01-29 18:39] kanglu666 commented on #5
test at KCi version
http://dashboard.kci.com/fogservicesnew/index.html

[2014-01-29 18:39] kanglu666 commented on #6
test at KCi version
http://dashboard.kci.com/fogservicesnew/index.html

[2014-01-29 18:40] kanglu666 commented on #15
test at KCi version
http://dashboard.kci.com/fogservicesnew/index.html

[2014-01-29 18:40] kanglu666 commented on #20
test at KCi version
http://dashboard.kci.com/fogservicesnew/index.html

[2014-01-29 18:41] kanglu666 commented on #24
test at KCi version
http://dashboard.kci.com/fogservicesnew/index.html

[2014-01-29 19:16] JMurk commented on #6
Confirmed complete @ KCI

[2014-01-29 19:16] #6 closed, assigned to JMurk

[2014-01-29 19:18] JMurk commented on #18
Yes, that field should be editable for ADMINS ONLY.  Confirmed can edit.

[2014-01-29 19:31] JMurk opened #27 "FSE Application - Pending Edits Notification"
Issue:  Whenever there are pending edits and a user tries to navigate away from the page, a warning message is not prompted.

Steps to Recreate:
1. Open an FSE
2. Make a few edits and do not click save
3. Click back

Resolution:  Please add a warning message of "The are unsaved edits, navigating away from this page will lose all changes." and provide options of "Continue" and "Cancel"

[2014-01-29 19:37] JMurk opened #28 "FSE Application - FSE Details - Always Editable"
Issue:  It appears that FSE detail for existing FSE is always editable.  It should only become editable once the user clicks the "edit" button.

Resolution:  Please disable editing on the FSE Details page until the edit button is clicked.

[2014-01-30 14:58] JMurk commented on #1
Confirmed complete @ KCI

[2014-01-30 14:58] #1 closed, assigned to JMurk

[2014-01-30 16:57] JMurk commented on #26
Per discussion, add "Remove" function that will delete the photo DB record, but not the physical photo file.

[2014-01-30 17:13] JMurk commented on #4
Per discussion, leave as is.

[2014-01-30 17:13] #4 closed, assigned to JMurk

[2014-01-30 17:15] JMurk commented on #19
Per discussion, add these fields for BOTH GCD Inspection and FSE Inspection.  Also, create two new tables for GCD inspection history and FSE inspection history.  These tables will log each insert/update performed.

[2014-01-30 17:21] JMurk commented on #5
Confirmed complete @ KCI

[2014-01-30 17:21] #5 closed, assigned to JMurk

[2014-01-30 17:29] JMurk commented on #16
Per discussion, please add a 2 as a valid value and change the UI from a toggle to a dropdown with values of "Yes", "No", and "Unknown"

[2014-01-30 17:30] JMurk commented on #14
Per discussion, add Inspector_Name field and drop Inspector ID.  Should be populated on insert and never change.

[2014-01-30 17:31] JMurk commented on #20
Confirmed complete @ KCI

[2014-01-30 17:31] #20 closed, assigned to JMurk

[2014-01-30 17:39] JMurk commented on #17
Per discussion, we will add security to make this function available to admins ONLY.  A request has been sent to the stakeholders for a list of these users.

[2014-01-30 17:52] JMurk commented on #2
Confirmed complete - city side.

[2014-01-30 17:52] #2 closed, assigned to JMurk

[2014-01-30 20:51] JMurk commented on #23
List has been loaded into city side DB.

[2014-01-30 20:51] #23 closed, assigned to JMurk

[2014-01-31 13:31] JMurk commented on #15
I'm not seeing the Delete buttons....

![image](https://f.cloud.github.com/assets/5805454/2050753/e0a76f18-8a7b-11e3-9cb8-ddf840643ad7.png)

[2014-01-31 13:31] JMurk commented on #3
Confirmed complete @ KCI

[2014-01-31 13:31] #3 closed, assigned to JMurk

[2014-01-31 13:36] JMurk commented on #24
This is still and issue on the following pages:
-FSE Inspection Details page
-GCD Inspection Details page
-Add New Enforcement Action page

[2014-01-31 13:37] JMurk opened #29 "FSE Application - Add NOV Button"
Issue:  Change the "Add Notice of Violation" button to read "Add Enforcement Action"

![image](https://f.cloud.github.com/assets/5805454/2050811/d69ebb2e-8a7c-11e3-88f3-82ef8d4aeb02.png)

[2014-01-31 13:48] JMurk opened #30 "FSE Application - NOV - All Date Fields Null by Deafult"
Issue:  When adding a new enforcement action, the system defaults all date fields to the current date.  Only the Action Date field should be populated by default.

Resolution:  Please set all date fields to be NULL by default, with the exception of Action Date.

[2014-01-31 14:11] JMurk opened #31 "FSE Application - NOV - Add New Enforcement Action"
Issue:  When adding a new enforcement action to an FSE that already has an Enforcement action related to it, the system pre-populates the Add New form with the existing Enforcement Action's attributes.

Steps to recreate:
1. Open an FSE
2. Click NOV
3. Click Add New
4. Create a New Enforcement Action
5. Return to the NOV List
6. Click Add New

Resolution:  Please investigate and resolve so that th

[2014-01-31 14:21] JMurk opened #32 "FSE Application - NOV Deatils - Change Header"
Issue:  The header for the Details page reads "FSE NOV Details."

![image](https://f.cloud.github.com/assets/5805454/2051042/f5157f5c-8a81-11e3-837f-6305a6a49ae1.png)

Resolution:  Please update the header to read "Enforcement Action Details"

[2014-01-31 14:23] JMurk opened #33 "FSE Application - NOV List - Header Change"
Please update the "FSE NOV List" header to read "Enforcement Action List"

![image](https://f.cloud.github.com/assets/5805454/2051117/4a378b0a-8a83-11e3-8294-c24f75296f02.png)

[2014-01-31 14:28] JMurk commented on #15
Scratch that... Delete buttons found on iPad.  Confirmed complete @ KCI

[2014-01-31 14:28] #15 closed, assigned to kanglu666

[2014-01-31 14:40] JMurk opened #34 "FSE Application - Photos - Description Input box Misaligned"
Issue:  The Description label box and input box are a bit misaligned along the bottom line.

![image](https://f.cloud.github.com/assets/5805454/2051218/668f2b1c-8a85-11e3-9ea9-62c822d08f7e.png)

Resolution: Please align the boxes.

[2014-01-31 14:47] JMurk opened #35 "FSE Applications - Photos - Alignment of Photos"
Issue:  When viewing a photo in the application, the photo is aligned to the left.

![image](https://f.cloud.github.com/assets/5805454/2051297/703123f4-8a86-11e3-8da4-e3b5c924899b.png)

Resolution:  Please align the photo in the middle when viewing them in the application.

[2014-01-31 15:20] JMurk opened #36 "FSE Application - Photos - Upload Message"
Issue:  When only one photo file is uploaded, the message reads "1 Files Loaded!"

![image](https://f.cloud.github.com/assets/5805454/2051575/2d34b598-8a8b-11e3-81b6-4333892dcba5.png)

Resolution:  Please remove the s from "Files"

[2014-01-31 16:00] JMurk opened #37 "FSE Application - 25% Rule Calculation Error"
Issue:  There are a few issues with the 25% rule calculation:
1. The calculation is not consistently outputting the correct value.
2. The system is rounding up too much.

Resolution:  Please investigate the equation being used.  It should be (Grease Cap + Sediment)/(GCD Hydraulic Depth).  Make sure that the percentage always has 2 decimal places.

[2014-01-31 21:22] kanglu666 commented on #14
done at KCI version, please test

[2014-01-31 21:23] kanglu666 commented on #16
done at KCI , please test

[2014-01-31 21:25] kanglu666 commented on #19
done at KCI

[2014-02-01 01:34] kanglu666 commented on #37
fixed on both KCi and City

[2014-02-01 02:19] kanglu666 commented on #29
done

[2014-02-01 02:34] kanglu666 commented on #31
done

[2014-02-01 02:40] kanglu666 commented on #33
done

[2014-02-01 02:40] kanglu666 commented on #32
done

[2014-02-01 02:41] kanglu666 commented on #28
done

[2014-02-01 02:41] kanglu666 commented on #27
done

[2014-02-01 02:44] kanglu666 commented on #24
done

[2014-02-04 02:44] kanglu666 commented on #36
done

[2014-02-04 02:45] kanglu666 commented on #34
done

[2014-02-04 13:13] JMurk commented on #29
Confirmed complete @ KCI

[2014-02-04 13:13] #29 closed, assigned to JMurk

[2014-02-04 13:14] JMurk commented on #30
Confirmed complete @ KCI

[2014-02-04 13:15] JMurk commented on #31
Confirmed complete @ KCI.

[2014-02-04 13:15] #31 closed, assigned to JMurk

[2014-02-04 13:16] JMurk commented on #33
Confirmed complete @ KCI

[2014-02-04 13:16] #33 closed, assigned to JMurk

[2014-02-04 13:16] JMurk commented on #34
Confirmed complete @ KCI.

[2014-02-04 13:16] #34 closed, assigned to JMurk

[2014-02-04 13:22] JMurk commented on #37
Appears to be fixed.

[2014-02-04 13:22] #37 closed, assigned to JMurk

[2014-02-04 13:23] JMurk commented on #36
Confirmed complete @ KCI

[2014-02-04 13:23] #36 closed, assigned to JMurk

[2014-02-04 13:30] JMurk commented on #27
Needs to be implemented separately for each page rather than at the FSE Details level.  Changes are lost prior to the edits message being received.  Please implement for the following pages:

FSE Details
FSE Inspection
GCD Inspection
GCD Details
Enforcement Action Details

[2014-02-04 13:32] JMurk commented on #32
Need to add an s to the end of "Detail" so that it reads "Details"

[2014-02-04 13:41] JMurk commented on #30
When I create a new record then open it back up, it appears that the date fields left null are auto-populating with 01/01/1900.  The should remain null if the record is saved that way by the user.

[2014-02-04 13:45] JMurk commented on #24
Found others:

-Enforcement Action Details
-Add New FSE Inspection
-Add New GCD Inspection

[2014-02-04 13:47] JMurk opened #38 "FSE Application - Add New Inspection Headers"
Issue:  On both the Add new GCD inspection and Add new FSE inspection pages, the word "inspection" is not capitalized.

Resolution:  Please update so that the headers read:

"Add New FSE Inspection"
"Add New GCD Inspection"

[2014-02-04 13:55] JMurk commented on #14
Confirmed complete @ KCI

[2014-02-04 13:55] #14 closed, assigned to JMurk

[2014-02-04 13:55] JMurk commented on #16
Confirmed complete @ KCI

[2014-02-04 13:55] #16 closed, assigned to JMurk

[2014-02-04 14:01] JMurk commented on #19
Last Update date does not appear to be auto-populating for either table.

[2014-02-04 14:04] JMurk commented on #28
It appears that this is an issue with every page.  Please update all pages with edit functionality.

Also, the user should be able to tell that a page goes from non-editable to editable.  When fields are non-editable, the should be tinted grey (I think FSE details was like this at one point).  Once the user selects Edit, the fields will become white.  Please update for all pages with edit function

[2014-02-04 14:08] JMurk commented on #8
Confirmed complete @ City

[2014-02-04 16:18] kanglu666 commented on #38
done

[2014-02-04 16:22] kanglu666 commented on #19
working.

[2014-02-04 16:58] JMurk commented on #38
Confirmed complete @ KCI

[2014-02-04 16:58] #38 closed, assigned to JMurk

[2014-02-04 17:06] JMurk commented on #32
Confirmed complete @ KCI

[2014-02-04 17:06] #32 closed, assigned to JMurk

[2014-02-04 17:06] JMurk commented on #30
Confirmed complete @ KCI

[2014-02-04 17:06] #30 closed, assigned to JMurk

[2014-02-04 17:09] JMurk commented on #26
Confirmed complete @ KCI

[2014-02-04 17:09] #26 closed, assigned to JMurk

[2014-02-04 17:10] JMurk commented on #24
Confirmed complete @ KCI

[2014-02-04 17:10] #24 closed, assigned to JMurk

[2014-02-04 17:10] JMurk commented on #19
Confirmed complete @ KCI

[2014-02-04 17:10] #19 closed, assigned to JMurk

[2014-02-04 17:11] JMurk commented on #18
Confirmed complete @ KCI

[2014-02-04 17:11] #18 closed, assigned to JMurk

[2014-02-04 17:11] JMurk commented on #17
Confirmed complete @ KCI

[2014-02-04 17:11] #17 closed, assigned to JMurk

[2014-02-04 18:10] JMurk opened #39 "FSE Application - Editing Dates - Make All Dates Editable"
Please make all date fields editable (with the exception of last update dates)

[2014-02-06 16:29] kanglu666 commented on #27
done at city, clear your cache thest

[2014-02-24 14:11] JMurk opened #40 "FSE Application - Report - Solids Int.?"
Issue:  The report is printing Yes/No values for Solids Int. (GCD Details) in all lower case.  The application inputs proper case values.

Resolution:  Please apply proper case for the field.  If it is a data issue only, please pass back to me and I will update existing data.

[2014-02-24 14:13] JMurk commented on #8
Still an issue for Last Updated dates (FSE Inspection & GCD Inspection)

[2014-02-24 14:15] JMurk commented on #9
Please change Hydraulic Cap and Depth to Inches.

[2014-02-24 14:16] #13 closed, assigned to tarheelgis

[2014-02-24 14:20] JMurk commented on #21
Please provide input.

[2014-02-24 14:20] JMurk commented on #22
Please provide input.

[2014-02-24 14:25] JMurk commented on #35
Lu, is there a way to display pictures in both portrait and landscape orientations?

[2014-02-24 16:21] BC89 commented on #22
Eric we need LOE to complete this task. I would like a simple SQLReport following the same established pattern.

[2014-02-24 16:22] BC89 commented on #21
Eric we need a LOE to complete this task. We'll use SQLReporting and develop the signature necessary to support fro/to date ranges

[2014-02-24 17:25] tarheelgis commented on #21
Sweet

iSent this from my iPhone

On Feb 24, 2014, at 11:23 AM, "Brendan" <notifications@github.com<mailto:notifications@github.com>> wrote:

Eric we need a LOE to complete this task. We'll use SQLReporting and develop the signature necessary to support fro/to date ranges

—
Reply to this email directly or view it on GitHubhttps://github.com/JMurk/FSE_Application_Issues/issues/21#issuecomment-3590

[2014-02-27 14:21] tarheelgis commented on #40
In the GCD_DETAILS table on KCI-TSSQL03\SDE the values are Yes, No, N/A and blank with no full upper case conversion applied within my report sql currently. The report returns the data as it is entered through the app. I can return all values as upper case by adjusting my SQL for the report or if the entry is supposed to be upper than we could classify this as a data issue. Let me know.

[2014-02-27 14:54] tarheelgis commented on #9
Should Rated Cap also be inches?

[2014-02-27 16:51] tarheelgis commented on #8
Could this be an issue with deployment? I have tested this a few ways on my end and it seems to be fine.
![2014-02-27_11-49-06](https://f.cloud.github.com/assets/6514808/2284980/72c23064-9fcf-11e3-9f51-de74c350fd26.jpg)

[2014-02-28 13:25] JMurk commented on #40
I went ahead and updated all records to be "Yes" and "No" (proper case), so as long as the report pulls the actual value, it should be resolved.

[2014-02-28 13:25] #40 closed, assigned to tarheelgis

[2014-02-28 13:29] JMurk commented on #9
They marked up a report with these changes and rated cap was left alone.  So for now, leave it as is.

[2014-02-28 13:32] JMurk commented on #8
The field you show above is correctly only displaying date, however the LAST_UPDATED dates are not:

![image](https://f.cloud.github.com/assets/5805454/2294138/8fa0bd2e-a07c-11e3-9eed-1b3b752e357a.png)

FSE INSPECTION DETAILS and GCD INSPECTION DETAILS both have this problem.

[2014-02-28 14:18] JMurk commented on #28
Confirmed complete.

[2014-02-28 14:18] #28 closed, assigned to JMurk

[2014-02-28 14:45] JMurk commented on #27
confirmed complete @ City

[2014-02-28 14:45] #27 closed, assigned to JMurk

[2014-02-28 14:47] JMurk commented on #39
confirmed complete @ CIty.

[2014-02-28 14:47] #39 closed, assigned to JMurk

[2014-03-04 13:36] tarheelgis commented on #22
Added page to app NOV.aspx that contains report sorted by action date. Clicking export to excel will provide export result. Please preview and provide feedback once code is posted to test.

[2014-03-04 13:37] tarheelgis commented on #21
Added this functionality URL parameters are StartDate and EndDate. Please test once code is posted

[2014-03-04 13:37] tarheelgis commented on #9
Updated please test when code is posted

[2014-03-04 13:37] tarheelgis commented on #8
Updated please test when code is posted.

[2014-03-06 14:29] JMurk opened #41 "FSE Application - Data Successfully Updated Modal"
Issue:  After saving a few inspections, the "Data Successfully Updated" modal screen gets stuck.  Pressing OK will not close the window.  Users are forced to log out and log back in to get it to go away.

Resolution:  Please investigate and resolve accordingly.

[2014-03-14 16:12] JMurk commented on #41
Any insight into this issue?

[2014-03-14 16:13] JMurk commented on #35
Any ideas?

[2014-03-14 16:13] JMurk commented on #22
Completed and implemented @ CIty

[2014-03-14 16:13] #22 closed, assigned to tarheelgis

[2014-03-14 16:13] JMurk commented on #21
Completed and implemented @ CIty

[2014-03-14 16:13] #21 closed, assigned to tarheelgis

[2014-03-14 16:17] JMurk commented on #9
Confirmed completed @ City

[2014-03-14 16:17] #9 closed, assigned to tarheelgis

[2014-03-14 16:18] JMurk commented on #8
Confirmed completed @ City

[2014-03-14 16:18] #8 closed, assigned to tarheelgis

[2014-04-09 20:32] kanglu666 commented on #41
done

[2014-04-10 12:18] JMurk commented on #41
Confirmed Complete.

[2014-04-10 12:18] #41 closed, assigned to JMurk

[2014-04-23 18:54] JMurk opened #42 "FSE Application - NOV Report - Add Data to Output"
Please add the additional fields noted in the spreadsheet provided by Pollution Control.

**See email for attachment and details

[2014-04-23 19:00] JMurk opened #43 "FSE Application - WWDP Exp. Date"
Issue:  WWDP Exp. is automatically populated with the current date.

Resolution:  Please leave this blank until the user manually populates it.

[2014-04-23 19:10] JMurk opened #44 "FSE Application - FSE Detail Report - Solid Int.?"
Issue:  The report is still printing the contents of the Solids Int.? field in all lowercase.

![image](https://cloud.githubusercontent.com/assets/5805454/2782027/e534ded2-cb1a-11e3-890a-63a675eda1cc.png)

Resolution:  Please investigate and update so that values are printed in proper case.

[2014-04-23 19:14] alanfoster99 opened #45 "FSE Application - Zoom to my location"
On iPad, if the user uses the Zoom to My Location tool consecutively (usually only 2 - 3 times) the app crashes.

[2014-04-23 19:20] JMurk opened #46 "FSE Application - FSE Detail Report - Sediment Units"
Please add (in) to the end of the SEDIMENT label within the GCD Inspection Details page.

![image](https://cloud.githubusercontent.com/assets/5805454/2782145/4298fe2c-cb1c-11e3-96d3-de608738a902.png)

[2014-04-23 19:27] JMurk opened #47 "FSE Application - Add Neighborhoods To Map"
Add the priority Neighborhoods to the map service.

Get Data from Dave.

[2014-04-23 19:30] JMurk opened #48 "FSE Application - Report - List of FSEs to Inspect by Neighborhood"
**Future Enhancement**

Select a neighborhood from the map and/or list.  Application produces a list, with basic  details, of FSEs to inspect (those that have not been inspected)

[2014-04-23 19:35] JMurk opened #49 "FSE Application - Display GCD Location on GCD Inspection"
Please display the GCD Location field (stored in GCD Details) in the related GCD Inspections.

![image](https://cloud.githubusercontent.com/assets/5805454/2782337/585009f2-cb1e-11e3-8e9f-3e33469c2ad7.png)

If possible, display between the GCD ID and GCD Inspection ID fields, as shown in the image above.

[2014-04-23 19:44] JMurk opened #50 "FSE Application - Add Fields to GCD Inspection"
Please add the following fields to GCD Inspection in the database and the application:

<ul>
<li>What Sinks Discharge to GCD? (DISCHARGE_SINKS, varchar(255) </li>
<li> Anything Else Going to GCD? (GCD_RECEIVING, varchar(255)</li>
<li> Deep Fryers (FRYERS, int yes/no)</li>
<li> Wok Station (WOK, int yes/no)</li>
</ul>

[2014-04-23 20:09] JMurk opened #51 "FSE Application - GCD Inspection - Cleaning Frequency"
Please make the following updates:

<ol>
<li>Covert existing data to Days (Joe)</li>
<li>Add "(Days)" to the field label on the app screen</li>
<li>Force the user to only enter numbers</li>
<li>Provide a message to the user when a non-numerical value is entered</li>
</ol>

[2014-04-25 13:25] alanfoster99 commented on #45
This is a known bug with the platform.  Closing.

[2014-04-25 13:25] #45 closed, assigned to kanglu666

[2014-05-05 15:09] kanglu666 commented on #43
done

[2014-05-05 15:11] kanglu666 commented on #49
done

[2014-05-05 15:12] kanglu666 commented on #51
done

[2014-05-06 14:07] JMurk commented on #47
Dave... Can we get this data?

[2014-05-06 14:07] JMurk commented on #49
Confirmed complete.

[2014-05-06 14:07] #49 closed, assigned to JMurk

[2014-05-06 14:09] JMurk commented on #43
Confirmed complete.

[2014-05-06 14:09] #43 closed, assigned to JMurk

[2014-05-06 14:11] JMurk opened #52 "FSE Application - Link FSE Compliance to FSE_INSPECTION"
1. Please add FSE_INSPECTION_ID to the FSE_COMPLIANCE table as a FK.
2. Please move NOV button to the FSE Inspection Page.
3. Add Inspection Date to the NOV report (Eric)

[2014-05-08 17:26] JMurk commented on #42
Linking FSE inspection to NOV.  Will be able to get Inspection date from there.

[2014-05-08 17:27] JMurk commented on #35
closing this - never resolved

[2014-05-08 17:27] #35 closed, assigned to kanglu666

[2014-05-09 19:05] tarheelgis commented on #46
completed please check when changes post

[2014-05-09 19:05] tarheelgis commented on #44
completed please check when changes post

[2014-05-09 19:06] tarheelgis commented on #42
Has this link been completed yet? and if so which fields is the linkage applied to

[2014-05-14 13:45] JMurk commented on #42
Look into the following gaps:
1.  GCD Location. Same issue as above with multiple GCD locations
2.  Comments1. This field does not exist in either table
3.  FSE Number Assigned by App. Also not sure where to dig this up
4.  Needs WWDP. This field does not exist in either table
5.  Sent to HCD Date. This field does not exist in either table
6.  Sent to Health Dept Date.  This field does not exist i

[2014-05-23 13:22] JMurk opened #53 "FSE Application - Update Font Color"
Please change the font color for "Continue will lose all changes" to white.  Make sure the change is made everywhere this message persists.

![image](https://cloud.githubusercontent.com/assets/5805454/3066975/4141ab1e-e27d-11e3-8298-f22467a20972.png)

[2014-05-23 13:23] JMurk commented on #51
Confirmed complete.

[2014-05-23 13:23] #51 closed, assigned to JMurk

[2014-05-23 13:24] JMurk commented on #52
Lu, has this schema change been made?

[2014-06-03 18:14] tarheelgis commented on #52
Inspection Date is waiting on feedback from stakeholders

[2014-06-03 18:23] tarheelgis commented on #50
Will integrate in report when these make it into table

[2014-06-06 15:20] JMurk commented on #42
Schema Changes (FSE_COMPLIANCE) for Joe:
- Change Action Date to Inspection Date (autopopulate w/ most recent fse inspection date)
- Add Comments (see list of valid options - Lu to code)
- Add Permit Expired (Y/N toggle, autoset with WWDP Exp Date)
- Add Needs WWDP (Y/N toggle, autoset with 9**\* FSEs)
- GCD Location (talk to developers on how to pick)

[2014-06-06 15:21] JMurk commented on #50
Joe to make schema changes.

[2014-06-14 12:58] JMurk commented on #42
Complete at KCI and City.  Lu, please make adjustments in the app.  Please take note of the details of how to populate some of the fields above.

[2014-06-14 12:59] JMurk commented on #50
Schema has been updated.

[2014-06-16 18:19] kanglu666 commented on #42
FSE app has been updated at city, please test

[2014-06-16 18:19] kanglu666 commented on #52
done

[2014-06-16 18:19] kanglu666 commented on #53
done

[2014-06-17 19:41] JMurk commented on #53
Confirmed complete.

[2014-06-17 19:41] #53 closed, assigned to JMurk

[2014-06-17 19:42] JMurk commented on #52
DB updates made, Eric- please update the report

[2014-06-17 19:47] JMurk commented on #50
Lu, please add these fields to the application above Last Updated By.

[2014-06-17 19:52] JMurk commented on #46
Where do we stand with posting these changes???

[2014-06-17 19:52] JMurk commented on #44
Confirmed complete.

[2014-06-17 19:53] #44 closed, assigned to tarheelgis

[2014-06-18 13:36] JMurk opened #54 "FSE Application - Enforcement Action - Permit Expired"
Issue:  The "Permit Expired" field label has incorrect capitalization.

![image](https://cloud.githubusercontent.com/assets/5805454/3314146/925bd766-f6ed-11e3-978e-9a1be6d6b7dd.png)

Resolution:  Please set to "Permit Expired?"

[2014-06-18 13:39] JMurk opened #55 "FSE Application - Auto Toggle "Needs WWDP?""
Please auto-toggle the Needs WWDP? field for New Enforcement Actions.  When the FSE Number begins with a 9, then Needs WWDP? should = Yes (active toggle).  If not, it will not be toggled.

[2014-06-18 14:01] JMurk opened #56 "FSE Application - Auto Toggle "Permit Expired?""
Please auto-toggle the Permit Expired field for New Enforcement Actions.  When WWDP Expiration date (from FSE Details) is < inspection date, Permit Expired should = Yes (active toggle).

[2014-06-18 14:06] JMurk opened #57 "FSE Application - Enforcement Action - Comments Dropdown"
For the Comments field in Enforcement Actions, add a dropdown list for users to choose from.  Here are the values that should be included in the dropdown:

Failed 25% rule
No GCD
No WWDP
Expired WWDP
Enzymes used directly in GCD
GCD leaking
Dishwasher connected to GCD
Inaccessible GCD
GCD not connected
No/Missing baffles
Baffles not installed correctly
GCD installed backwards
Pre-Rinse sink not co

[2014-06-18 14:13] JMurk opened #58 "FSE Application - Add .ico to HTML Title block"
Please add the City .ico file to the title html block.

![image](https://cloud.githubusercontent.com/assets/5805454/3314630/b408cde2-f6f2-11e3-9488-d79481565213.png)

[2014-06-18 14:41] JMurk opened #59 "FSE Application - Turn Water and Stormwater Feeds Off"
Please turn the Water and Stormwater feeds off by default.

[2014-06-18 14:43] JMurk opened #60 "FSE Application - Black-on-Brown Text"
Issue:  Please update ALL modal screens so that the text on top of brown backgrounds is white, not black.

![image](https://cloud.githubusercontent.com/assets/5805454/3315036/e93ee146-f6f6-11e3-9023-42a77b87d277.png)

[2014-06-18 14:46] JMurk opened #61 "FSE Application - Map Identify Not Working"
Issue:  Every time I try to identify an FSE point on the map, I receive the following error:

![image](https://cloud.githubusercontent.com/assets/5805454/3315068/399356fe-f6f7-11e3-8652-c09985260f1d.png)

Resolution:  Please investigate and resolve accordingly.

[2014-06-18 18:38] kanglu666 commented on #61
fixed

[2014-06-18 18:38] kanglu666 commented on #60
updated

[2014-06-18 18:38] kanglu666 commented on #59
updated

[2014-06-18 18:38] kanglu666 commented on #58
updated

[2014-06-18 18:39] kanglu666 commented on #57
updated

[2014-06-18 18:39] kanglu666 commented on #56
updated

[2014-06-18 18:40] kanglu666 commented on #55
updated

[2014-06-18 18:40] kanglu666 commented on #54
updated

[2014-06-18 18:40] kanglu666 commented on #50
done

[2014-06-18 18:50] JMurk commented on #59
Confirmed complete.

[2014-06-18 18:50] #59 closed, assigned to JMurk

[2014-06-18 18:51] JMurk commented on #61
Confirmed complete

[2014-06-18 18:51] #61 closed, assigned to JMurk

[2014-06-18 18:51] JMurk commented on #58
Confirmed complete.

[2014-06-18 18:51] #58 closed, assigned to JMurk

[2014-06-18 18:54] JMurk commented on #48
Brendan - Can you tell me what the feasibility of this is?

[2014-06-18 18:56] JMurk commented on #42
Eric, please add to the report.

[2014-06-18 18:57] JMurk commented on #56
Confirmed complete.

[2014-06-18 18:57] #56 closed, assigned to JMurk

[2014-06-18 18:58] JMurk commented on #57
Confirmed complete.

[2014-06-18 18:58] #57 closed, assigned to JMurk

[2014-06-18 19:05] JMurk commented on #54
Confirmed complete.

[2014-06-18 19:05] #54 closed, assigned to JMurk

[2014-06-18 19:56] JMurk commented on #55
Confirmed complete.

[2014-06-18 19:56] #55 closed, assigned to JMurk

[2014-06-18 20:04] JMurk commented on #50
Lu, can you make the following changes to the labels:

-"Which Sinks Discharge to GCD?"
-"Deep Fryers?"
-"Wok Station?"

[2014-06-19 14:47] kanglu666 commented on #50
done,clear browser cache

[2014-06-19 15:41] JMurk commented on #60
Lu--- Please check ALL modal screens.  I still see some that have this text combination.

[2014-06-19 15:42] JMurk commented on #50
Confirmed complete.

[2014-06-19 15:42] #50 closed, assigned to JMurk

[2014-07-02 19:16] tarheelgis commented on #46
Completed check again

[2014-07-10 17:42] JMurk opened #62 "FSE Application - NOV Report - ACTION_DATE Error"
Issue:  When trying to open the NOV report from the FSE application, the following error is thrown:

![image](https://cloud.githubusercontent.com/assets/5805454/3542651/99877e0a-0859-11e4-8799-9c01f2ed3dfe.png)

[2014-07-14 17:51] JMurk commented on #62
Non-issue.

[2014-07-14 17:51] #62 closed, assigned to tarheelgis

[2014-07-14 17:55] JMurk commented on #42
A couple things:

-FSE ID should display PC ID from the database (that is how the know FSE ID).
-Missing GCD Location

[2014-07-14 17:55] JMurk commented on #52
Complete.

[2014-07-14 17:55] #52 closed, assigned to tarheelgis

[2014-07-14 17:56] JMurk commented on #47
Completed.

[2014-07-14 17:56] #47 closed, assigned to DaveThomKCI

[2014-07-14 17:58] JMurk commented on #46
confirmed complete.

[2014-07-14 17:58] #46 closed, assigned to tarheelgis

[2014-07-16 13:17] tarheelgis commented on #42
PC ID is not in the NOV table which table should I get PC ID from?

[2014-07-30 19:39] JMurk opened #63 "FSE Application - Facility Address - Breakout"
Issue:  Street Address, City, State, and Zip code should all be in separate columns in the report.

![image](https://cloud.githubusercontent.com/assets/5805454/3755053/24fd623e-1821-11e4-8246-61ba2312860f.png)

[2014-07-30 19:41] JMurk opened #64 "FSE Application - NOV Report - Reorder Fields"
Please move the COMMENTS column before VIOLATION TYPE.

[2014-07-30 19:43] JMurk opened #65 "FSE Application - NOV Report - Remove FSE Inspection ID"
Please remove the FSE INSP. ID column from the report.  The stakholders say they do not need to see it.
![image](https://cloud.githubusercontent.com/assets/5805454/3755106/bc94cf7e-1821-11e4-92a3-fc2f9ab9ae1c.png)

[2014-07-30 19:45] JMurk opened #66 "FSE Application - NOV Report - PC ID"
Please label the PC ID column as FSE ID.  The data should still pull from the PC_ID column, however.

![image](https://cloud.githubusercontent.com/assets/5805454/3755132/00dd63f8-1822-11e4-870f-40da8c0a653f.png)

[2014-07-30 20:17] JMurk opened #67 "FSE Application - Grills, Woks, Deep Fryers - Counts"
Please add a field called Grills (int) to GCD Inspections.  In the app, it should be placed above Deep Fryers.

Also, Deep Fryers and Wok Station should be changed to an integer field.  The "?" should also be removed from both labels.  Default value for all 3 fields will be 0.

[2014-07-30 20:19] JMurk opened #68 "FSE Application - GCD Details - Default Value"
Please set the default value for Shape in GCD Details to "Rectangle"

![image](https://cloud.githubusercontent.com/assets/5805454/3755630/d6bf0da6-1826-11e4-853c-907983d9e28c.png)

[2014-08-05 17:52] kanglu666 commented on #68
done, please test at dev:
http://dpw-gw03dev-srv/water/fogservicesnew/index.aspx

[2014-08-05 17:53] kanglu666 commented on #60
done, please test at dev:
http://dpw-gw03dev-srv/water/fogservicesnew/index.aspx

[2014-08-06 15:35] kanglu666 commented on #67
FES db schema updated on dev.
FSE app has been updated at dev, please test.
http://dpw-gw03dev-srv/water/fogservicesnew/index.aspx

[2014-08-18 12:46] JMurk commented on #68
Confirmed complete in dev.  Please push to prod.

[2014-08-18 12:48] JMurk commented on #67
These should be integer fields that allow users to enter a number.  They should not be toggles.

[2014-08-18 12:56] JMurk commented on #60
Should be complete.  Will reopen if any more are discovered.

[2014-08-18 12:56] JMurk commented on #60
Push to prod.

[2014-08-18 12:57] JMurk commented on #48
Lu- can you give me a LOE for this?

[2014-09-23 16:49] kanglu666 commented on #60
prod updated

[2014-09-23 16:50] kanglu666 commented on #67
updated for both dev and prod.

[2014-09-23 16:50] kanglu666 commented on #68
updated for both dev and prod

[2014-09-23 18:04] kanglu666 commented on #42
updated

[2014-09-23 18:04] kanglu666 commented on #64
done

[2014-09-23 18:05] kanglu666 commented on #65
done

[2014-09-23 18:05] kanglu666 commented on #66
done

[2014-09-25 19:53] JMurk commented on #68
Confirmed complete.

[2014-09-25 19:53] #68 closed, assigned to JMurk

[2014-09-25 19:56] JMurk commented on #67
Confirmed complete on prod, still need to change from toggles on dev.

[2014-09-25 19:58] JMurk commented on #60
Confirmed complete.

[2014-09-25 19:58] #60 closed, assigned to JMurk

[2014-09-25 20:00] JMurk commented on #42
Confirmed complete.

[2014-09-25 20:00] #42 closed, assigned to JMurk

[2014-09-25 20:00] JMurk commented on #66
Confirmed complete.

[2014-09-25 20:00] #66 closed, assigned to JMurk

[2014-09-25 20:01] JMurk commented on #65
Confirmed complete.

[2014-09-25 20:01] #65 closed, assigned to JMurk

[2014-09-25 20:03] JMurk commented on #64
Comments field is missing from the report altogether.  Note that Compliance Comments and Comments are two separate fields.

[2014-09-25 20:04] JMurk commented on #63
Confirmed complete.

[2014-09-25 20:05] #63 closed, assigned to JMurk

[2014-09-25 20:13] kanglu666 commented on #67
it is updated on dev. please clear browser cache and test

[2014-09-26 12:29] JMurk commented on #67
Confirmed complete.

[2014-09-26 12:29] #67 closed, assigned to JMurk

[2014-09-29 15:20] kanglu666 commented on #64
"Please move the COMMENTS column before VIOLATION TYPE."
this is done;
and "Compliance Comments" is still in the report after the "enforcement action" field

[2014-09-29 19:46] JMurk commented on #64
![image](https://cloud.githubusercontent.com/assets/5805454/4448230/4ad24eb4-4811-11e4-8116-2e9240d2f267.png)

"Comments" is still not in the report.

[2014-10-05 09:28] kanglu666 commented on #64
"Comments" column has been added in NOV report. ready for test

[2014-10-06 15:20] JMurk commented on #64
Confirmed complete.

[2014-10-06 15:20] #64 closed, assigned to JMurk

[2014-10-16 12:43] JMurk opened #69 "FSE Application - Cannot Delete FSE Inspections"
**Issue:**  When trying to delete an existing FSE Inspection, nothing happens.  This is an issue on BOTH DEV and PROD

**Resolution:** Please investigate and resolve accordingly.

Use FSE # 404651
The Playbook Bar
6700 German Gill Rd,

Inspection IDs 2572,2573 & 2574 all need to be deleted.

[2014-10-16 14:58] kanglu666 commented on #69
fixed, please test

[2014-10-16 14:59] JMurk commented on #69
Confirmed complete on dev, please push to prod.

[2014-10-16 15:32] kanglu666 commented on #69
done on PROD, please test

[2014-10-16 15:59] JMurk commented on #69
Confirmed complete.

[2014-10-16 15:59] #69 closed, assigned to JMurk

[2014-10-21 19:42] JMurk opened #70 "FSE Application - NOV Comments - Add Vaules"
Please add the following values to the NOV Comments pick-list:

NO MAINTENANCE LOG
INLET AND/OR OUTLET TEE MISSING
FAILED 25 % RULE 2ND NOTICE
FAILED 25% RULE 3RD NOTICE
WOK STATION NOT CONNECTED TO GCD

[2014-10-21 19:47] JMurk opened #71 "FSE Application - NOV Report - Rearrange Report and Add Blank Coulmns"
In order to have downloadable spreadsheet into the format we use for mail merge activities, the following fields need to be in this exact order with a blank field where indicated.  Otherwise, we will have to rearrange it after the download:
1.  Inspection date
2.  FSE ID
3.  Blank field
4.  Facility name
5.  Blank field
6.  Blank field
7.  Blank field
8.  Facility Address
9.  City
10. State
11. Zi

[2014-10-22 13:48] JMurk opened #72 "FSE Application - Map Button Not Working"
**Issue:**  On the FSE Search page, the Map button never becomes active.

![image](https://cloud.githubusercontent.com/assets/5805454/4737074/1143b6d6-59f2-11e4-8da9-1ff60ee52a1b.png)

**Resolution:** Please investigate and resolve accordingly.

[2014-10-22 14:45] kanglu666 commented on #72
fixed in dev, please test

[2014-10-22 15:18] kanglu666 commented on #70
done at city dev, please test

[2014-10-22 19:32] JMurk commented on #70
Can you please make these proper case?

No maintenance log
Inlet and/or outlet tee missing
Failed 25% rule - 2nd notice
Failed 25% rule - 3rd notice
Wok station not connected to GCD

[2014-10-22 19:33] JMurk commented on #72
Confirmed complete in dev, push to prod.

[2014-10-22 20:58] kanglu666 commented on #72
done

[2014-10-22 20:58] kanglu666 commented on #70
done

[2014-10-22 21:38] kanglu666 commented on #71
updated in city dev, please test

[2014-10-23 13:17] JMurk commented on #72
Confirmed complete.

[2014-10-23 13:17] #72 closed, assigned to JMurk

[2014-10-23 13:27] JMurk commented on #71
Confirmed complete in dev, please push to prod.

[2014-10-23 13:28] JMurk commented on #70
Confirmed complete in both dev and prod.

[2014-10-23 13:28] #70 closed, assigned to JMurk

[2014-10-23 14:12] kanglu666 commented on #71
done

[2014-10-23 18:54] JMurk commented on #71
Confirmed complete.

[2014-10-23 18:54] #71 closed, assigned to JMurk

[2014-10-28 16:20] JMurk opened #73 "FSE Application - GCD Inspection - Grills Value Not Saving"
**Issue:**  When editing or adding a new GCD inspection, values put into the Grills field saves initially, but then does not appear on the screen when you close it then open it back up.

![image](https://cloud.githubusercontent.com/assets/5805454/4812056/5f44c50c-5ebe-11e4-9d23-f0361a9f16b5.png)

**Steps to Recreate:**
1. Open an existing GCD Inspection
2. Edit the Grills field
3. Tap save
4. Tap

[2014-10-29 15:52] kanglu666 commented on #73
fixed, please test

[2014-10-29 16:03] JMurk commented on #73
Confirmed complete.

[2014-10-29 16:03] #73 closed, assigned to JMurk

[2014-11-17 14:32] JMurk opened #74 "FSE Application - NOV - Date Controls"
Is it possible to take the calendar control off of the date fields on the Enforcement Action screen?  The users would like to type in the date manually.

If so, please remove the control from all date fields on the Enforcement Action screen.

[2014-11-17 14:33] JMurk opened #75 "FSE Application - NOV - Move Comments field"
Please move the Comments field on the Enforcement Action screen after Inspection Date and Before Violation Type.

![image](https://cloud.githubusercontent.com/assets/5805454/5071202/d1061a50-6e3c-11e4-911a-ace4bfd142e4.png)

[2014-11-17 14:35] JMurk opened #76 "FSE Application - NOV Report - Add Date Filters"
Please add Start Date and End Date filters to the NOV report list.

![image](https://cloud.githubusercontent.com/assets/5805454/5071225/fc58c392-6e3c-11e4-9f7f-edd2327380fe.png)

![image](https://cloud.githubusercontent.com/assets/5805454/5071222/f7fb37e4-6e3c-11e4-9e60-f862ac4a4a52.png)

[2014-11-18 15:33] DaveThomKCI opened #77 "FSE Application - NOV - Violation Type will not save"
I tried for two different inspections to create a violation, and make the type "Inadequate maintenance of waste/recycle grease area" and it will not save.

[2014-11-18 16:02] JMurk commented on #77
Good catch.... field length of VIOLATION_TYPE was 50, that has 51.  I updated it to 60.  Lu to update web service.

[2014-11-18 16:11] kanglu666 commented on #77
updated.

[2014-11-18 16:21] JMurk commented on #77
Dave, please confirm and close.

[2014-11-18 16:31] DaveThomKCI commented on #77
Tested.  Confirmed fixed.

[2014-11-18 16:31] #77 closed, assigned to DaveThomKCI

[2014-12-09 20:57] JMurk commented on #48
Closing this.  Not req. by the user.

[2014-12-09 20:57] #48 closed, assigned to kanglu666

[2014-12-10 17:46] jday3 commented on #74
I can make this a text field, but does there need to be validation of the format?

[2014-12-10 18:13] JMurk commented on #74
It should be a date picker, like the FSE Inspection Summary Start and End Dates

[2014-12-10 21:33] jday3 commented on #74
I guess I'm confused. Both of the date fields have the same date picker.

![enforcement](https://cloud.githubusercontent.com/assets/4439618/5384743/08b19236-808a-11e4-91e5-8c7a3cdc73fe.PNG)

![reports](https://cloud.githubusercontent.com/assets/4439618/5384744/08b64826-808a-11e4-9fd4-42a2603903c2.PNG)

[2014-12-11 14:03] jday3 commented on #76
Which date field should the query be based on? Many of the records don't have an Inspection Date or a NOV Date

[2014-12-11 14:56] JMurk commented on #76
Lets go with NOV date.  In production they are populated more consistently.  Also, if they do not enter dates, the report should return all records.

[2014-12-11 17:45] jday3 commented on #76
Done, on dev

[2014-12-11 17:45] jday3 commented on #75
Done, on dev

[2014-12-15 15:21] JMurk commented on #76
Confirmed complete on dev, push to prod.

[2014-12-15 15:25] JMurk commented on #75
Confirmed complete on dev, push to prod.

[2014-12-22 14:13] jday3 commented on #75
On prod

[2014-12-22 14:14] jday3 commented on #76
On prod

[2014-12-22 14:42] JMurk commented on #76
Confirmed complete.

[2014-12-22 14:44] JMurk commented on #75
Confirmed complete.

[2014-12-22 14:44] #75 closed, assigned to JMurk

[2014-12-22 14:51] JMurk commented on #74
Please try to keep the fields DATE data types, but have a manual input with validation of the format yyyy-mm-dd.

[2014-12-22 17:05] JMurk opened #78 "FSE Application - Deleting Dates"
**Issue:**  The users would like to be able to delete dates from all date fields within the application.

**Resolution:**  Please add functionality to allow them to delete dates or set the date to be blank.

[2014-12-22 20:59] jday3 commented on #74
Done, on dev.

[2014-12-22 20:59] jday3 commented on #78
Done, on dev

[2014-12-23 16:38] JMurk commented on #74
Looks good, please push to prod.

[2014-12-23 16:40] JMurk commented on #78
Looks like you are able to delete on the NOV page, but nowhere else.  Can we expand this functionality to all other editable dates?

[2014-12-23 18:40] jday3 commented on #74
Now on prod

[2014-12-23 19:17] jday3 commented on #78
Done, on dev. Button to clear is on date picker toolbar

[2014-12-24 12:47] JMurk commented on #78
Awesome.  Confirmed complete, please push to prod.

[2014-12-24 12:55] JMurk commented on #74
Confirmed complete.

[2014-12-24 12:55] #74 closed, assigned to JMurk

[2014-12-24 15:10] jday3 commented on #78
Now on prod

[2015-01-02 14:21] JMurk opened #79 "FSE Application - FSE Report - Add Related NOVs"
Now that the FSE application is being used to track Enforcement Actions, or NOVS, we should add those to the detailed FSE report.

NOVs are related to specific FSE Inspections through FSE_INSPECTION_ID.  On the report, related NOVS should be displayed within an expanded FSE Inspection:

![image](https://cloud.githubusercontent.com/assets/5805454/5596603/a31bb3d2-9260-11e4-84c3-ce547b7a54bb.png)

[2015-01-05 16:13] jday3 commented on #79
I added this on dev. Let me know what you think of the format and then I'll make the edits

[2015-01-08 17:39] JMurk commented on #79
That works for me.  Go ahead and push to prod.

[2015-01-08 17:46] JMurk commented on #78
Confirmed complete.

[2015-01-08 17:46] #78 closed, assigned to JMurk

[2015-01-08 19:03] jday3 commented on #79
Done.

[2015-01-13 13:39] JMurk commented on #76
Please change the date filter to use Inspection date rather than NOV date.

[2015-01-13 13:45] JMurk commented on #79
Confirmed complete.

[2015-01-13 13:45] #79 closed, assigned to JMurk

[2015-01-14 13:52] jday3 commented on #76
Done on dev

[2015-01-20 14:44] JMurk commented on #76
Confirmed complete, please push to prod.

[2015-01-21 19:50] jday3 commented on #76
Done

[2015-01-22 13:31] JMurk commented on #76
Comfirmed complete.

[2015-01-22 13:31] #76 closed, assigned to JMurk

[2015-02-18 19:08] JMurk opened #80 "FSE Application - Enforcement Action Page - Dropdowns are Holding Values from Previous"
**Issue:** - Within the Enforcement Action page, the dropdowns seem to hold the selected value from the previously opened record without anythng actually being selected.  In the screenshot below, you will notice that "unauthorized discharge" is selected in the dropdown, but is not actually in the field.

This seems to occur with all dropdowns on this page.

![image](https://cloud.githubusercontent

[2015-02-18 19:10] JMurk opened #81 "FSE Application - Enforcement Action - Add Dropdown for Status"
Please add a dropdown for the status field within the enforcement action page.  Valid Values will be:

-Open
-Closed

![image](https://cloud.githubusercontent.com/assets/5805454/6254573/e032f2bc-b777-11e4-90c4-15b43c2be762.png)

[2015-02-24 13:48] JMurk opened #82 "FSE Application - WWDP Expiration Date - Add Years"
FSE Details Page: WWDP EXP DATE:  Need to add Years, it only goes up to 2015 , permits are good for one year therefore permits issued in 2015  will expire in 2016 and also 2016 is leap year so we need to add a day ( Feb. 2016 will have 29 days)

[2015-03-02 18:03] JMurk opened #83 "FSE Application - FSE Details - New SIC Codes"
Please add 5431 and 8661 to the SIC Code dropdowns (SIC1, SIC2, SIC3)

![image](https://cloud.githubusercontent.com/assets/5805454/6446926/7d342398-c0dc-11e4-93b8-802c24122b94.png)

[2015-03-04 13:05] jday3 commented on #83
Done, on dev

[2015-03-04 13:06] jday3 commented on #82
Done on dev. This field will allow selections between 2013 and the current year +1, so it won't need to be updated next year and in the future

[2015-03-04 13:07] jday3 commented on #81
Done on dev

[2015-03-04 20:27] jday3 commented on #80
Fixed on dev

[2015-03-09 18:30] JMurk commented on #83
Confirmed complete on dev, please push to prod.

[2015-03-09 18:32] JMurk commented on #82
Confirmed complete on dev, please push to prod.

[2015-03-09 18:33] JMurk commented on #81
Confirmed complete on dev, please push to prod.

[2015-03-09 18:34] JMurk commented on #80
Confirmed complete on dev, please push to prod.

[2015-03-10 12:44] jday3 commented on #83
done

[2015-03-10 12:44] jday3 commented on #82
done

[2015-03-10 12:44] jday3 commented on #81
done

[2015-03-10 12:44] jday3 commented on #80
done

[2015-03-10 15:24] JMurk commented on #83
Confirmed complete.

[2015-03-10 15:24] #83 closed, assigned to JMurk

[2015-03-10 15:40] JMurk commented on #82
Confirmed complete.

[2015-03-10 15:40] JMurk commented on #81
Confirmed complete.

[2015-03-10 15:40] #81 closed, assigned to JMurk

[2015-03-10 15:41] JMurk commented on #80
Confirmed complete.

[2015-03-10 15:41] #80 closed, assigned to JMurk

[2015-03-16 17:00] JMurk opened #84 "FSE Application - Enforcement Action - Comments in Different Location"
Per stakeholder:  Violation Type & Comment are next to each other, but if go back after saving it,  Comment moves to the bottom, Anyway we can keep Comment next to violations when we are only viewing and/or editing this page?

![image](https://cloud.githubusercontent.com/assets/5805454/6671549/597e6c6e-cbdc-11e4-8b56-4399a84e7206.png)

[2015-03-18 12:52] JMurk opened #85 "FSE Application - NOV Report - Add GCD Location Column"
Please add a column labeled "GCD Location" to the NOV report (both all and date filtered reports).  The field is FSE_COMPLIANCE.GCD_LOCATION.  It can be placed to the right of the FACILITY NAME field.

![image](https://cloud.githubusercontent.com/assets/5805454/6709033/1065d44c-cd4c-11e4-9dca-932180a23ab3.png)

[2015-03-19 17:58] jday3 commented on #84
Done on dev/prod

[2015-03-19 18:16] jday3 commented on #85
Done on dev/prod

[2015-03-19 19:57] JMurk commented on #85
Confirmed complete in all locations.

[2015-03-19 19:57] #85 closed, assigned to JMurk

[2015-03-23 14:34] JMurk commented on #84
Confirmed complete in both environments.

[2015-03-23 14:34] #84 closed, assigned to JMurk

[2015-03-24 12:35] JMurk commented on #82
Can you make it +10 years?  Also, do the same for the NOV List Report date filter if you could.  This is a request from the stakeholder.

[2015-03-25 13:15] jday3 commented on #82
Done, on dev

[2015-03-25 13:51] JMurk commented on #82
Confirmed complete on dev, please push to prod.

[2015-03-25 13:56] jday3 commented on #82
done

[2015-03-25 14:17] JMurk commented on #82
Confirmed complete.

[2015-03-25 14:17] #82 closed, assigned to JMurk

[2015-05-04 14:03] JMurk opened #86 "FSE Application - FSE Details - Add ACTIVE? Value"
Please add a value of "ACTIVE/LATE OPENING" to the Active? dropdown list on the FSE Details page.

![image](https://cloud.githubusercontent.com/assets/5805454/7454752/c15f1552-f244-11e4-939b-c3bc5b03e513.png)

[2015-05-06 13:28] jday3 commented on #86
Done, on dev

[2015-05-06 13:41] JMurk commented on #86
Confirmed complete on dev, please push to prod.

[2015-05-06 15:40] jday3 commented on #86
done

[2015-05-26 14:36] JMurk opened #87 "FSE Application - Forms Won't Load"
**Issue:** Users are reporting that forms will not load when trying to access pages (e.g. FSE Details) in the FSE Application.

![fse_bug](https://cloud.githubusercontent.com/assets/5805454/7814873/05444224-0393-11e5-810f-833a88db0cff.png)

[2015-05-26 19:08] jday3 commented on #87
fixed

[2015-05-26 19:11] JMurk commented on #87
Confirmed complete.

[2015-05-26 19:11] #87 closed, assigned to JMurk

[2015-06-01 15:30] JMurk commented on #86
Closing.

[2015-06-01 15:30] #86 closed, assigned to JMurk

[2015-06-01 18:22] JMurk opened #88 "FSE Application - FSE Inspection - Data Type Updates"
We need to change the data types for the INSPECTION_DATE and the LAST_UPDATED_DATE from "date" to "datetime" so that the fields are viewable in ArcMap.

Please make sure that all forms work as well as the reports.

The data type changes have been made in dev.

[2015-06-02 19:36] jday3 commented on #88
Done on dev

[2015-06-05 19:21] JMurk opened #89 "FSE Application - NOV Report Error"
**Issue:** The NOV report is throwing a server error.  Please investigate ASAP.

![image](https://cloud.githubusercontent.com/assets/5805454/8013345/88592eda-0b96-11e5-9fa4-48f2a1b35118.png)

[2015-06-08 13:58] jday3 commented on #89
fixed

[2015-06-08 14:16] JMurk commented on #89
Confirmed complete.

[2015-06-08 14:16] #89 closed, assigned to JMurk

[2015-06-08 14:31] JMurk commented on #88
For Inspection Date, only have the date selectable in the UI, not the time.

[2015-06-08 18:20] jday3 commented on #88
done

[2015-06-09 13:51] JMurk commented on #88
Confirmed complete on dev, will coordinate production move off-hours.

[2015-06-16 12:00] jday3 commented on #88
This is complete on production

[2015-06-18 15:16] JMurk commented on #88
Confirmed complete.

[2015-06-18 15:16] #88 closed, assigned to JMurk

[2015-10-01 16:27] JMurk opened #90 "FSE - Add Comments to FSE Deatils"
The users are requesting that a comments field be added to the FSE Details page.  On the UI, this should be placed between the Contact Email field and the Last Update Date field.

![image](https://cloud.githubusercontent.com/assets/5805454/10226826/bf9b2346-6837-11e5-95dc-77b9612ef844.png)

I have added the field to the FSE_LOCATION table in dev.

[2015-10-02 13:55] jday3 commented on #90
Done on dev

[2015-10-12 18:50] JMurk commented on #90
Confirmed complete.  Please push to prod.  Comments field has been added to the production DB.

[2015-10-13 12:03] jday3 commented on #90
done on prod

[2015-11-13 14:34] JMurk commented on #90
Confirmed complete.  Also fixed reported issue with datatype.

[2015-11-13 14:34] #90 closed, assigned to JMurk

[2015-12-03 15:34] JMurk opened #91 "FSE - NOV Report - Broken Link"
In prod, the link to the NOV reports (all and by date) are broken.  It appears they are trying to access a localhost URL.

![image](https://cloud.githubusercontent.com/assets/5805454/11564876/79eaec98-99a9-11e5-8626-cc64ecc942dd.png)

[2015-12-03 18:40] JMurk commented on #91
Confirmed complete.

[2015-12-03 18:40] #91 closed, assigned to JMurk

[2015-12-29 16:36] JMurk opened #92 "FSE - Delete GCD Function"
Admins are requesting that a delete button/function be added to the GCD Details page.  This should:

-Be restricted to only admins
-Check to see if there are related GCD inspections.  When they exist and the user clicks delete, the system should prompt a message stating "Inspections exist for this GCD, unable to delete"
- Prompt a confirmation form - "Are you sure you want to delete this GCD?"

[2016-01-05 15:11] JMurk opened #93 "FSE - Date Picker - Add Years"
Please review all date picker controls within the application.  They should be updated to include years before and after the current one.  Per Jesse: "the correct approach should be to use the current date to calculate the list of years instead of a hard-coded list."

[2016-01-05 18:08] JMurk commented on #93
Confirmed complete, but only hard-coded

[2016-01-05 18:08] #93 closed, assigned to kanglu666

[2016-03-08 16:04] JMurk opened #94 "FSE - New Report - FSE List"
**Description:**  Users have requested a new report to be added to the FSE Reports page.

![image](https://cloud.githubusercontent.com/assets/5805454/13606398/d3b0e56e-e519-11e5-8c6a-e79885c989d6.png)

This report will be called _FSE List_ and will include a parameter for Zip Code in which users can pick none (returns all), one, or many.  The fields returned should be as follows:
- FSE_LOCATION. P

[2016-03-08 17:53] taojun545 commented on #92
Added Delete GCD Function on dev.

[2016-03-08 17:58] JMurk commented on #92
Please change the warning message to read "The selected GCD has related inspection records and cannot be deleted!"

![image](https://cloud.githubusercontent.com/assets/5805454/13610807/76ae9d34-e52d-11e5-8142-37aeee3e82bc.png)

[2016-03-08 18:33] taojun545 commented on #92
Updated on dev.

[2016-03-08 18:45] JMurk commented on #92
Confirmed complete on dev, please push to prod.

[2016-03-09 19:10] taojun545 commented on #94
Added new report "FSE List" in the FSE Reports page on dev.

The report will show all the locations with or without inspection. New SQL shows below:
`FROM            GIS_ADMIN.FSE_LOCATION AS L LEFT OUTER JOIN
                         GIS_ADMIN.FSE_INSPECTION AS I INNER JOIN
                             (SELECT        FSE_ID, MAX(FSE_INSPECTION_ID) AS INSP_ID
                               FROM

[2016-03-09 21:05] JMurk commented on #94
- For fields that are binary (i.e. 0,1), can you label them as "Yes" and "No", with 1 being Yes?
- there is a mispelling in one of the column headers.  Please update to say "GREASE DISPOSAL ADEQUATE"

![image](https://cloud.githubusercontent.com/assets/5805454/13650372/6530e06a-e610-11e5-8643-58a4ee19e27e.png)
- In the column header MAINT LOG UPTODATE, please make UPTODATE 3 words, UP TO DATE.
  !

[2016-03-09 21:45] taojun545 commented on #94
Binary field updated, and both header description updated.

[2016-03-11 18:26] JMurk commented on #94
Confirmed complete on dev, please push to prod.

[2016-03-11 20:22] taojun545 commented on #94
Updated on prod.

[2016-03-11 20:32] taojun545 commented on #92
Updated on prod.

[2016-03-14 16:26] JMurk commented on #94
Confirmed complete.

[2016-03-14 16:26] #94 closed, assigned to JMurk

[2016-03-14 16:27] JMurk commented on #92
Confirmed complete.

[2016-03-14 16:27] #92 closed, assigned to JMurk

[2016-08-19 16:03] alanfoster99 opened #95 "FSE - Date Range"
The reports tab has a FSE Inspection Summary function, however the date ranges supported do not go beyond 12/31/2015.  Please update this to allow current dates.  This is high priority as the reporting tool is used for an annual report due to regulators soon.

[2016-08-19 17:12] alanfoster99 commented on #95
Closing -- issue has been addressed.

[2016-08-19 17:12] #95 closed, assigned to taojun545